
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129399506-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129399506-1');
</script>

<%- include sidebar %>
<title>Analytics</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>  
</head>
<style>

* {box-sizing: border-box;}

h2{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    margin:0;
}
nav{
    width: 100%;
    background: black;
    padding: 20px;
    box-shadow: 0 4px gray; 
    color:white;
}

.wrapper { 
    display: grid; 
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 140px;
    max-width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
} 

.wrapper > div {
    grid-row-end: span 3;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 1em;
    color:black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.boxsize {
    max-height: 800px;
    max-width: 800px;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}

.box2{
    grid-column-start: 2;
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3; 
}

.box3{
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 4; 
    grid-row-end: 4; 
}

.box4{
    grid-column-start: 2; 
    grid-column-end: 2; 
    grid-row-start:4;
    grid-row-end:4;
}

h1{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin:0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {height:auto; } 
}

</style>
<body>
<h1 style="text-align: center"><nav id="stickHeader">DSM-Home Analytics Page</nav></h1><br><br><br><br>
<div class="padding">
    <div class="wrapper">
        <div class="card1">
            <form id="numOfRefundsForm" style="display:-webkit-inline-box" method="POST" action="/home/analytics"><select id="supNameSelect1" data-live-search="true" class="selectpicker" name="supplierName1" style="position:static !important;"></select>
            <input type="date" class="form-control" placeholder="firstDate" name="firstDate" style="width: 180px; margin-left:15px">
            <input type="date" class="form-control" placeholder="secondDate" name="secondDate" style="width: 180px; margin-left:15px">
            <button type="submit" class="btn btn-primary" style="margin-left:15px">Submit</button>
            </form>
            <div class="boxsize"><canvas id="bar-chart"></canvas></div>
        </div>
        <div class="card2">
            <form id="numOfOrdersForm" style="display:-webkit-inline-box" method="POST" action="/home/analytics"><select id="supNameSelect2" data-live-search="true" class="selectpicker" name="supplierName2"></select>
            <input type="date" class="form-control" placeholder="firstDate" name="firstDate" style="width: 180px; margin-left:15px">
            <input type="date" class="form-control" placeholder="secondDate" name="secondDate" style="width: 180px; margin-left:15px">
            <button type="submit" class="btn btn-primary" style="margin-left:15px">Submit</button>
            </form>
            <div class="boxsize"><canvas id="bar-chart-horizontal"></canvas></div>
        </div>
        <div class="card3">
            <div class="boxsize"><canvas id="pie-chart"></canvas></div>
        </div>
        <div class="card4">
            <div class="boxsize"><canvas id="doughnut-chart"></canvas></div>
        </div>
    </div>
</div>

<script>

window.onscroll = function() {myFunction()};

var navbar = document.getElementById("stickHeader");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

//chart1
function chart1(){
new Chart(document.getElementById("bar-chart"), { 
    type: 'bar',
    data: {
      labels: supRefundsDates,
      datasets: [ 
        {
          label: "(Total Refunds - "+supRefundsNum+")",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: supRefundsQty  
        }
      ],
      borderWidth: 1
    },
    options: {
    title: {
      display: false,
      text: 'Number Of Refunds Per Supplier'
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  }
});

}
chart1()

//chart2
function chart2(){
new Chart(document.getElementById("bar-chart-horizontal"), {
  type: 'horizontalBar',
  data: {
    labels: supOrdersDates,
    datasets: [{ 
        label: "(Total Orders - "+supOrdersNum+")",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: supOrdersQty
      }
    ],
    borderWidth: 1
  },
  options: {
    title: {
      display: false,
      text: 'Number Of Orders Per Supplier'
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
  }
});
}
chart2()

//chart3
var revenueAnswer = JSON.parse('<%-JSON.stringify(revenueAnswer)%>');
var monthCalc = revenueAnswer.monthCalc
var revenueSummary = revenueAnswer.revenueSummary
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: monthCalc,
      datasets: [{
        label: "Month Revenue",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: revenueSummary
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Revenue Per Month'
      }
    }
});

//chart4
var expensesAnswer = JSON.parse('<%-JSON.stringify(expensesAnswer)%>');
var monthCalc1 = expensesAnswer.monthCalc1
var expensesSummary = expensesAnswer.expensesSummary
new Chart(document.getElementById("doughnut-chart"), {
    type: 'doughnut',
    data: {
      labels: monthCalc1,
      datasets: [
        {
          label: "Month Expenses",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: expensesSummary
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Expenses Per Month'
      }
    }
});

var supplierNameRes1 = JSON.parse('<%-JSON.stringify(answer.supplierNameRes)%>');
var select1 = document.getElementById("supNameSelect1");
for(index in supplierNameRes1) {
    select1.options[select1.options.length] = new Option(supplierNameRes1[index], supplierNameRes1[index]);
}

var supplierNameRes2 = JSON.parse('<%-JSON.stringify(answer.supplierNameRes)%>');
var select2 = document.getElementById("supNameSelect2");
for(index in supplierNameRes2) {
    select2.options[select2.options.length] = new Option(supplierNameRes2[index], supplierNameRes2[index]);
}

var supRefundsQty
var supRefundsDates
var supRefundsNum
$('#numOfRefundsForm').submit(function(event){
event.preventDefault();
var post_url = $(this).attr("action");
var request_method = $(this).attr("method");
var form_data = $(this).serialize();
        
var refundGraph = $.ajax({
            url : post_url,
            type: request_method,
            data : form_data,
            });
            
            refundGraph.fail( function() {
            window.alert("Fail!");
            });

            refundGraph.done( function(response) {
                if (response.redirect !== undefined && response.redirect) {
                window.location.href = response.redirect_url;
                }else{
                  supRefundsQty = response.supRefundsQty;
                  supRefundsDates = response.supRefundsDates
                  supRefundsNum = response.supRefundsNum
                  console.log(supRefundsQty)
                  console.log(supRefundsDates)
                  console.log(supRefundsNum)
                  chart1()
                }
            });
    })


var supOrdersQty
var supOrdersDates
var supOrdersNum
$('#numOfOrdersForm').submit(function(event){
event.preventDefault();
var post_url = $(this).attr("action");
var request_method = $(this).attr("method");
var form_data = $(this).serialize();
        
var ordersGraph = $.ajax({
            url : post_url,
            type: request_method,
            data : form_data,
            });
            
            ordersGraph.fail( function() {
            window.alert("Fail!");
            });

            ordersGraph.done( function(response) {
                if (response.redirect !== undefined && response.redirect) {
                window.location.href = response.redirect_url;
                }else{
                  supOrdersQty = response.supOrdersQty;
                  supOrdersDates = response.supOrdersDates
                  supOrdersNum = response.supOrdersNum
                  console.log(supOrdersQty)
                  console.log(supOrdersDates)
                  console.log(supOrdersNum)
                  chart2()
                }
            });
    })
</script>

</body>
</html>