<!DOCTYPE html>
<html>
<head>
<%- include sidebar %>
<style>

.card {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
}

.title {
  color: grey;
  font-size: 18px;
}

.button  {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: cornflowerblue;;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.buttonS  {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin: 20px;
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
    
  <div class="card">   
<h2 style="text-align:center">User Profile Card</h2>


  <img src="http://www.danmulhern.com/wp-content/uploads/2018/05/Image-for-Strong-in-Google-search-1.jpeg" alt="No Picture" style="width:100%">

  <p class="title">User Name: <%= answer.userName %> </p>
  <p class="title">First Name: <%= answer.firstName %> </p>
  <p class="title">Last Name: <%= answer.lastName %> </p>
  
  <form id="ED_Form"  style="display: none" action="/home/editProfile" method="POST">
    <input type="text" placeholder="Enter first Name" name="first_name"><br><br>
    <input type="text" placeholder="Enter Last Name" name="last_name"><br><br>
    <table>
      <tr>
       <td> <button class="buttonS" type="submit">Submit</button></td>
       <td><button class="buttonS" type="button" onclick="showForm(0)">cancel</button></td>
      </tr>
      
    </table>
    
  </form><br>
  
  <p> <%= answer.message %> </p>
 <button class="button" onclick="showForm(1)">Edit Details</button><br>
 
</div>

<script>
    function showForm(x){
      console.log(x);
      if(x==1){
        document.getElementById("ED_Form").style.display="block";
      }else if(x==0){
        document.getElementById("ED_Form").style.display="none";
      }
    }
  </script>


</body>
</html>
