<!doctype html>


<html>
<head>
    <%- include sidebar %>
    <title>Suppliers</title>

<style>

#grid {
  display: grid;
  position: relative;
  grid-template-columns: 350fr 350fr;;
  grid-template-rows: 350fr 350fr;;
  grid-gap: 10px;
  width: 250;
  height: 100vh;
  margin: 0 50px;
  background-color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid > div {
  padding: 20px 80px;
  font-size: 18px;
  color:black;
  text-align: left;
}


.supplier {
  background:none;
  opacity: 0.8;
  grid-column: auto; 
  grid-row: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.supplier-form {
 
  grid-column: auto; 
  grid-row: auto;
  margin: 0px 20px;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color:black;
  border-width: 1px;
  border-radius: 12px;
  background-color: none;
  padding: 1px 5px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logs {
  background:none;
  grid-column: auto; 
  grid-row: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.logs-form{ 
  grid-column: auto; 
  grid-row: auto;
  margin: 0px 20px;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color:black;
  border-width: 1px;
  border-radius: 12px;
  background-color: none;
  padding: 1px 5px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin: 0px 0px;
  outline: 0;
  background: rgba(128, 128, 128, 0.842);
  width: 35%;
  border-style: solid;
  border-bottom: 12px;
  padding: 8px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background:  rgba(128, 128, 128, 0.842);
}

.blue {
  background:none;
  grid-column: auto; 
  grid-row: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blue-form {
  grid-column: auto; 
  grid-row: auto;
  margin: 0px 20px;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color:black;
  border-width: 1px;
  border-radius: 12px;
  background-color: none;
  padding: 1px 5px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.gray {
  background:none;
  grid-column: auto; 
  grid-row: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.gray-form { 
  grid-column: auto; 
  grid-row: auto;
  margin: 0px 40px;
  position: relative;
  z-index: 1;
  border-style: solid;
  border-color:black;
  border-width: 1px;
  border-radius: 12px;
  background-color: none;
  padding: 1px 5px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
h3 {
    text-decoration: underline;
}
</style>

<div class="padding">
<div id="grid">

<div class="creat-supplier">
<div class="form">       

<form id="supForm" method="POST" action="/home/suppliers">
<select id="supSelect" name="supName" method="POST" action="/home/suppliers">
  <option selected disabled>Selecet Supplier</option>
</select>
</form>
  
<form class="supplier-form">

    <h3>Supplier Details</h3>

<p>Store Number: <% if (answer.p != '0') { %> <%= answer.post.storeNum %> <% } %></p>
<p>Supplier Name <% if (answer.p != '0') { %> <%= answer.post.supplierName %> <% } %></p>
<p>Establish Year: <% if (answer.p != '0') { %> <%= answer.post.establishYear %> <% } %></p>
<p>Store Link: <% if (answer.p != '0') { %> <%= answer.post.storeLink %> <% } %></p>
<p>We-chat: <% if (answer.p != '0') { %> <%= answer.post.wechat %> <% } %></p>
<p>E-mail: <% if (answer.p != '0') { %> <%= answer.post.email %> <% } %></p>
<p>Skype: <% if (answer.p != '0') { %> <%= answer.post.skypeID %> <% } %></p>
<p>Phone Number: <% if (answer.p != '0') { %> <%= answer.post.phoneNum %> <% } %></p>
<br>

<% if (answer.message.length > 0) { %> <div><%= answer.message %></div> <% } %>

</form><br>

<form action="/home/suppliers/addsup">
    <button>+ Add new supplier</button>
</form>

</div> 
</div>

<div class="creat-logs">
        <div class="form">
            
                        <h3>Logs history</h3>
                        <form class="logs" action="/home/suppliers/logs">
                          <button>+ Add new log</button>
                      </form>
                      <p>Store Number: <% if (answer.p != '0') { %> <%= answer.post.storeNum %> <% } %></p>
                      <p>Supplier Name <% if (answer.p != '0') { %> <%= answer.post.supplierName %> <% } %></p>
                      <p>Date Of Conversion: <% if (answer.p != '0') { %> <%= answer.post.dateOfConversion %> <% } %></p>
                      <p>Subject Link: <% if (answer.p != '0') { %> <%= answer.post.subject %> <% } %></p>
                      <p>Method List: <% if (answer.p != '0') { %> <%= answer.post.methodList %> <% } %></p>
                      <p>Content: <% if (answer.p != '0') { %> <%= answer.post.content %> <% } %></p>
                      <br>
                      
                      <% if (answer.message.length > 0) { %> <div><%= answer.message %></div> <% } %>

              </div>
            </div>

<div class="creat-gray">
<div class="form">
<form class="gray">

        <h3>product</h3>
    name:<br>
    price:<br>
    <button>+ Add new product</button>

</form> 
</div>
</div>

<div class="creat-blue">
<div class="form">
<form class="blue">

        <h3>Analystic performence</h3>
        <br>
        <br>
</form> 
</div>
</div>    

</div>
</div>
</div>
<script>
var myobject = JSON.parse('<%-JSON.stringify(answer.result)%>');

var select = document.getElementById("supSelect");
for(index in myobject) {
    select.options[select.options.length] = new Option(myobject[index], myobject[index]);
}

document.getElementById("supSelect").onchange = function() {
		document.getElementById("supForm").submit();
	}
/*function choose(){
var select = document.getElementById("example-select");
if(select.options.length > 0) {
  var txt = select.options[select.selectedIndex].text;
  document.getElementById("txt").innerHTML = txt;
}
else {
    window.alert("Select box is empty");
}
}*/
  </script> 
</head>
</html>